device: cuda

data:
    data_dir: /mnt/ceph_rbd/cosmoUniverse_2019_05_4parE_tf_v2/
    h5: False
    global_batch_size: 32
    local_batch_size: 8 # set to 0 to use global
    n_epochs: 10
    n_train: 2048
    n_eval: 512
    gradient_accumulation_freq: 1
    compression: gzip
    apply_log: True
    shuffle: True
    prefetch: 16
  
model:
    dropout: 0.5

opt:
    name: SGD
    momentum: 0.9
    weight_decay: 0.0001

lr_schedule:
    # Standard linear LR scaling configuration
    base_lr: 0.001  # 0.0025 for sqrt
    scaling: linear  # or sqrt
    base_batch_size: 64  # 32 for sqrt must be smaller than the data.global_batch_size
    n_warmup_epochs: 4

    # Learning rate decay epochs and decay factors
    decay_schedule:
        32: 0.25
        64: 0.125

training:
    target_mae: 0.124
